<a href="https://colab.research.google.com/github/GRUZUN/gaih-students-repo-example/blob/main/HW1_gurkan_uzun.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Homework - 1

*   Create two lists.The first list consists off odd numbers.The second list is also of even numbers.
*   Merge these two lists.Multiply all values in the new list by 2.
*   Use a loop to print the data type of all the values in new list.



**Create two lists.The first list consists off odd numbers.The second list is also of even numbers.**

In [ ]:
listOdd = list(range(0,9,2))
print("listOdd",listOdd)

listOdd [0, 2, 4, 6, 8]

In [ ]:
listEven = list(range(1,9,2))
print("listEven",listEven)

listEven [1, 3, 5, 7]

**Merge these two lists.Multiply all values in the new list by 2.**

In [ ]:
listMerged = listOdd + listEven
print("listMerged",listMerged)

listMerged2 = []
for i in listMerged:
  listMerged2.append(2*i)

print("listMerged2",listMerged2)

listMerged [0, 2, 4, 6, 8, 1, 3, 5, 7]
listMerged2 [0, 4, 8, 12, 16, 2, 6, 10, 14]

**Use a loop to print the data type of all the values in new list.**

In [ ]:
for i in listMerged2:
  print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>